/* CONFIGURAÇÕES GERAIS */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    transition: 0.3s;
}

/* CABEÇALHO */

.topo{
    background-color: #1f2937;
    color: white;
    padding: 20px 5%;
}

.titulo-topo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-topo i{
    font-size: 30px;
    color: #f7df1e;
}

.titulo-topo h1{
    margin: 0;
}

/* MENU */

.menu{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.menu a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 10px;
    border-radius: 5px; 
}

.menu a:hover{
    background-color: #374151;
}

#btn-menu{
   display: none;
}

/* CONTEÚDO PRINCIPAL */

.container{
    width: 90%;
    max-width: 100%;
    margin: 30px auto;
}

/* CARDS */

.card{
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card h2{
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card h2 i{
    color: #2563eb;
}

/* BOTOES */

button{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    transition: 0.2s;
}

button:hover{
    background-color: #1d4ed8;
    transform: translateY(-1px);
}

button i{
    margin-right: 5px;
}

/* TEMA ESCURO */

.tema-escuro{
    background-color: #111827;
    color: #f9fafb;
}

.tema-escuro .card{
    background-color: #1f2937;
    color: white
}

.tema-escuro input{
    background-color: #374151;
    color: white;
    border-color: #4b5563;
} 

.tema-escuro .conteudo-aba{
    background-color: #373151;
    color: white;
}

/* CONTADOR */

.contador{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.grupo-botoes{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* CAMPOS */

.campo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.campo i{
    font-size: 20px;
    color: #2563eb
}

input{
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
}

ul{
    padding-left: 25px;
}

li{
    margin-bottom: 8px;
}

/* MODAL */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-conteudo{
    background-color: white;
    color: black;
    width: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 10px;
}

.oculto{
    display: none !important;
}

/* ABAS */

.botoes-abas{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.aba.ativa{
    background-color: #111827;
}

.conteudo-aba{
    display: none;
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    color: black;
}

.conteudo-aba.ativo{
    display: block;
}


@media (max-width: 700px){
    #btn-menu{
        display: block;
    }

    .menu{
        display: none;
        flex-direction: column;
    }

    .menu.aberto{
        display: flex;
    }
}